.containerAdmin {
    display: flex;
    min-height: 100vh;
    /* border-bottom: 2px solid #4c4974;
    border-top: 5px solid #4c4974; */
}
  
.containerAdminLeft {
    min-width: 230px;
    min-height: 100vh;
    margin: 20px 20px 20px 40px;
    /* background-color: #ebf1ff; */
    /* border-bottom: 2px solid #4c4974;
    border-top: 2px solid #4c4974; */
    /* border-right:  2px solid #4c4974;; */
    border: 5px solid #ebf1ff;
    padding-left: 20px;
}

  
.containerAdminRight {
    flex-grow: 1;
    min-height: 100vh;
    margin: 20px 60px 20px 20px;
    /* padding-top: 40px; */
    /* border-bottom: 2px solid #4c4974; */
    /* border: 2px solid #4c4974; */
    border: 5px solid #ebf1ff;
}

.adminPersonalInformation{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.adminInage {
    width: 100px;
    height: 100px;
    border: 5px solid #ebf1ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.adminInage img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminTitle h2{
    font-weight: 800;
    /* font-size: 40px; */
    padding-left: 20px;
    color: #353069;
    text-shadow: 3px 3px 0px #ebf1ff;
}

.Dashboard, .Products, .AddProduct, .Categories,
.ShippingAddresses, .Users, .Orders {
    display: flex;
    margin-bottom: 5px;
    /* font-weight: 500; */
    cursor: pointer;
    align-items: baseline;
}

.Dashboard div, .Products div, .AddProduct div, .Categories div,
.ShippingAddresses div, .Users div, .Orders div {
    display: flex;
    padding-right: 10px;
    font-size: larger;
    font-weight: bold;
    color: #353069;
    text-shadow: 3px 3px 0px #ebf1ff;
}

.admin-icon{
    font-size: 30px;
    color: #b9cbf9;
}

.admin-icon-active{
    font-size: 30px;
    color: #353069;
}