.CRUDcategoryContainer-0{
    margin: 30px;
}

.CRUDcategoryContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.CRUDcategoryContainer h2{
    color: #353069;
    display: flex;
    /* justify-content: center; */
}

.CRUDcategoryContainer h4{
    color: #353069;
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 20px;
}

.addCategory input {
    height: 35px;
    width: 250px;
    color: #4c4974;
    border: 2px solid #ececec;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
}

.addCategory input:focus{
    box-shadow: 5px 5px 15px 5px #4c4974;
  }
.getCategoryName  input {
    height: 30px;
    width: 150px;
    color: #4c4974;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    box-shadow: 5px 5px 15px 5px #4c4974;
}

.getCategoryTitle p{
    color: #353069;
    font-weight: bold;
    font-size: 16px;
}

.addCategory button{
    background-color: green;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 38px;
    align-items: center;
    margin: 5px;
}

.addCategory button:active {
    box-shadow: 5px 5px 15px 8px green;
}

.admin-icon-edit, .admin-icon-delete, .admin-icon-update,  .admin-icon-close{
    font-size: 30px;
    cursor: pointer;
}

.admin-icon-delete, .admin-icon-close{
    color: red;
}

.admin-icon-edit, .admin-icon-update{
    color: green;
}

.admin-icon-edit:hover, .admin-icon-delete:hover, .admin-icon-update:hover,  .admin-icon-close:hover {
    font-size: 40px;
}

.getCategoryBodyItem div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353069;
    font-size: 20px;
}

.getCategory {
    display: grid;
    grid-template-columns: auto;
    gap: 2px;
    background-color: white;
}

.getCategory > div {
    background-color: white;
    text-align: center;
    font-size: 14px;
}

.getCategoryTitle{
    display: grid;
    grid-template-columns: 60px auto 160px;
    gap: 2px;
    background-color: #ebf1ff;
    text-align: center;
}

.getCategoryTitle > div {
    background-color: #ebf1ff;
    text-align: center;
    min-height: 50px;
    /* padding: 20px 0; */
    font-size: 14px;
}

.getCategoryBodyItem{
    display: grid;
    grid-template-columns: 60px auto 80px 80px;
    gap: 2px;
    background-color: #ebf1ff;
    text-align: center;
}

.getCategoryBodyItem > div {
    background-color: #ebf1ff;
    text-align: center;
    height: 50px;
    /* padding: 20px 0; */
    font-size: 14px;
}
