.orders-id{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    margin: 50px 10% 100px 10%;
}

.orders-items-title{
    color: #353069;
}

.order-items{
    display: flex;
    flex-direction: column;
    border: 0.1px solid #353069;
    border-bottom: none;
    background-color: #ececec;
}

.order-items div{
    min-height: 70px;
}

.order-items div div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-items-header, .order-items-main, .order-items-footer {
    display: grid;
    grid-template-columns: 50px  150px auto 150px  150px ;
    /* gap: 2px; */
    background-color: #ebf1ff;
    border-bottom: 0.1px solid black;
    text-align: center;
}

.order-items-main .item-name, .order-items-header .item-description{
    justify-content: flex-start;
}

.order-items-main > div {
    background-color: white;
}

.order-items{
    color: #353069;
}



.order-items-main img{
    height: 70px;
    width: 70px;
    margin: 5px;
    border: none;
}
